.Logo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 padding: 50px;
 border-style: solid; border-radius: 10px; border-color: black;
}

.row {
  height: 1460px
}

.container-fluid {
  height: auto;
}

.indexheader {
  background-color: green; color: white; font-size: 44px;
border-style: solid; border-radius: 30px; border-color: red; padding: 5px;
}

.indexheader2 {
  background-color: silver; color: white; font-size: 44px;
border-style: solid; border-color: gold; padding: 5px;
}

.paraindex {
  background-color: silver; color: black; font-size: 22px;
border-style: solid; border-color: yellow; padding: 10px; text-align: center;
}

.paraindex2 {
  background-color: white; color: green; font-size: 22px;
border-style: solid; border-color: black; text-align: center; padding: 10px;
}

.Creator-Tag {
  background-color: white; color: Black; font-size: 22px;
  border-style: solid; border-color: green; text-align: center;
}

.indexcarousel {
  border-style: solid; border-radius: 20px; border-color: white; padding: 10px;
}

.AMgrid1 {
  background-color: rgba(137, 170, 173);
}

.AMgrid2 {
  background-color: rgba(145, 175, 180);
}

.AMgrid3 {
  background-color: rgba(137, 170, 173);
}

.AMtitle {
   background-color: rgba(150, 185, 190); color: white; font-size: 55px;
 border-style: solid; border-radius: 30px; border-color: rgba(137, 170, 173); padding: 5px;
}

.AMtext {
  text-align: center;
  background-color: rgba(150, 185, 190); color: white; font-size: 33px;
  border-style: solid; border-color: rgba(117, 150, 160); padding: 10px;
}

.AMheader {
  text-align: center;
  background-color: rgba(160, 195, 200); color: white; font-size: 44px;
border-style: solid; border-radius: 20px; border-color: rgba(137, 170, 173); padding: 5px;
}

.AMcarousel {
  border-style: solid;  border-color: white; padding: 20px;
}

.Jinxy1 {
  width: 300px;
    height: 700px;
}

.Sebas1 {
  width: 300px;
    height: 800px;
}

.Lucas1 {
  width: 300px;
    height: 900px;
}

.Rheader {
  text-align: center;
  background-color: rgba(160, 195, 200); color: black; font-size: 44px;
border-style: solid; border-radius: 20px; border-color: rgba(137, 170, 173); padding: 5px;
}

.Rpara {
  text-align: center;
   color: black; font-size: 22px;
border-style: solid; border-radius: 20px; padding: 5px; background-color: rgba(137, 170, 173)
}

.Rlist {
  text-align: center;
  color: black; font-size: 22px;
border-style: solid; border-radius: 20px; padding: 5px; background-color: black
}

.Pfooter {
  text-align: center;
  color: black; font-size: 22px;
border-style: solid; border-radius: 20px; padding: 5px;
}

.Gcont {
  align-items: center;
}

.typ {
  width: 600px;
    height: 800px;
    text-align: center;
  color: black; font-size: 22px;
border-style: solid; border-radius: 200px; padding: 5px;
}
